*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* --------------navbar------------------ */
a{
    text-decoration: none;
}
header{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0, 0.4);
    height: 75px;
    width: 95%;
    margin: 1% 2.5% 0% 2.5%;
}
header .logo{
    height: 100%;
    object-fit: contain;
}
header .logo img{ 
    width: 75px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    height: 75px;
}
nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: 18px;
    font-family: poppins;
    width: 200px;
    height: 75px;
}
nav a:hover{
    background: rgba(0,0,0,0.1);
}
#svgBurger{
    display: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    stroke: rgba(0,0,0, 0.6);
    stroke-width: 30;
}
.navInvisible{
    display: none;
}
/* --------------navbar------------------ */



/* ---------------footer---------------- */


footer{
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.2em -0.2em 0.5em rgba(0,0,0, 0.4);
    height: 75px;
    width: 95%;
    margin: 0% 2.5% 1% 2.5%;
}
footer > h4 {
    font-family: poppins;
    color: rgb(0, 0, 0, 0.8);
    margin-left: 15px;
}
.container-footer-lien {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
    width: 500px;
}
.container-footer-lien > h4 {
    font-family: poppins;
    color: rgb(0, 0, 0, 0.8);
    margin-right: 20px;    
}
.container-footer-lien a {
    display: flex;
    justify-content: center;
    align-items: center;
    width:75px;
    height: 75px;
}
.container-footer-lien a svg {
    width: 40px;
    height: 40px;
    padding: 0 5px;
    fill: rgb(0, 0, 0, 0.8);
}
.container-footer-lien a svg:hover {
    fill: rgb(0, 0, 0, 0.4)
}

/* ---------------footer---------------- */


@media  (max-width: 900px) {
    #svgBurger{
        display: flex;
    }
    .nav{
        display: none;
    }
    .navInvisible {
        position: absolute;
        top: 80px;
        right: 0;
        height: 0px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: white;
        box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0, 0.4);
        overflow: hidden;
        transition: height 0.4s ease-in;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 15px;
    }
    footer > h4 {
        margin-left: 0;
        height: 37px;
    }
    .container-footer-lien > h4 {
        display: none;
    }
    .container-footer-lien {
        justify-content: flex-start;
    }
    .container-footer-lien a {
        height: 37px;
        width: 37px;

    }
    .container-footer-lien a svg {
        width: 25px;
        height: 25px;
        padding: 0 2px;    
    }
}

